$font-size: 1.5rem;
$background-color: white;
.container{
    display: grid;
    direction: column;
    background-color: $background-color;
    border-radius: 0.5rem;
    min-width: 20rem;
    min-height: 3rem;
    margin:1rem;
    padding:0.5rem;

    .topRow{
        font-weight: 800;
        font-size: 1.2*$font-size;
    }
    .row{
        font-size: $font-size;
        color:rgb(46, 46, 46);
        white-space: nowrap;
    }
}